body {
    background-color: rgb(21, 21, 21);
}

img {
    position: relative;
    left: 30px;
    top: 35px;

    width: 350px;

    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
}

#FBG {
    background-color: rgb(13, 13, 13);

    position: relative;
    top: -547px;
    left: 420px;

    width: 820px;
    height: 600px;
}