body {
    background-color: rgb(62, 54, 54);
}
#Title {
    background-color: rgb(30, 30, 30, 0.9);
    color: white;
    
    text-align: center;
    max-width: 500px;
}
.Volume {
    display: inline-block;
    
    border: 2px solid rgb(16, 16, 16);
    border-radius: 10px;
    margin: 5px;
    width: 200px;
}

.Volume img {
    border-radius: 10px;
    width: 100%;
    display: block;
}

.Volume:hover {
    border: 2px solid rgb(255, 191, 0);
    
}